<div class="serve-main">
  <span class="main">MEET FROM HOME</span>
  <h1>
    <div>
      <span class="yes">Impress Them Over The</span>
      <span class="yess"> Distance</span>
    </div>
  </h1>
</div>
<div>
  <ul class="serve">
    <li>
      <div>
        <div class="man">
          <div>
            <h3>Jeevan Sathi Match Hour</h3>
            <P>Register to join an online event to connect with members of your community in a short time</P>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div>
        <div>
          <div>
            <h3>Voice & Video Calling</h3>
            <p>Enjoy secure conversations using our voice & video calling services without revealing your number</p>
          </div>
        </div>
      </div>
    </li>


    <li>
      <div>
        <div>
          <div>
            <h3>Introducing Video Profile</h3>
            <p>Stand out amongst others and engage faster! Introduce yourself by adding a video to your profile</p>

          </div>
        </div>
      </div>
    </li>

  </ul>
</div>
