.main {
  border: 1px solid blue;
  height: 250px;
}

.main li {
  float: left;
  list-style: none;
  padding: 10px;
  border: 1px solid red;
}

.topBenifitsSprite {
  background-image: url(../../assets/images/Top_new_Benefits.png);
  background-repeat: no-repeat;
}

.benifit1 {
  height: 53px;
  width: 60px;
  background-position: -23px -10px;


}

.size {
  letter-spacing: 1.75px;
  font-size: 14px;
  color: #8A9DB0;
  font-family: 'Cabin',
    sans-serif;
}


.benifit2 {
  height: 53px;
  width: 60px;
  background-position: -206px -10px;


}

.benifit3 {
  height: 53px;
  width: 60px;
  background-position: -121px -10px;
  ;
}

.line {
  height: 2px;
  width: 39px;
  background-color: red;
}

.word {
  font-weight: 550;
  color: #d9475c;
  font-family: 'Cabin',
    sans-serif;
}

.min {
  font-family: 'Cabin',
    sans-serif;
}
