<div>
  <span class="size">MORE THAN 20 YEARS OF</span>
  <h1>
    <div><span class="min">Bringing People</span>
      <span class="word">Together</span>
    </div>
  </h1>
</div>
<ul class="main">
  <li>
    <div>
      <div class="topBenifitsSprite benifit1"></div>
      <div>
        <h3><u></u>100% Manually Screened Profiles</h3>
        <div class="line"></div>

      </div>
      <p>Search by location, community, profession & more from lakhs of active profiles</p>
    </div>
  </li>
  <li>
    <div>
      <div class="topBenifitsSprite benifit2"></div>
      <div>
        <h3>Verification by Personal Visit</h3>
      </div>
      <div class="line"></div>
      <p>Special listing of profiles verified by our agents through personal visits</p>
    </div>
  </li>
  <li>
    <div>
      <div class="topBenifitsSprite benifit3"></div>
      <div>
        <h3>Control over Privacy</h3>
      </div>
      <div class="line"></div>
      <p>Search by location, community, profession & more from lakhs of active profiles</p>
    </div>
  </li>
</ul>
